body,
h2,
dl,
dd {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-size: cover;
}
.wrap {
  width: 100vw;
  height: 100vh;
  padding-top: 15vw;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
}
.wrap .songImg {
  width: 70vw;
  height: 70vw;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .songImg img {
  width: 55vw;
  height: 55vw;
  border-radius: 50%;
}
.wrap .songInfo {
  height: 20vw;
  text-align: center;
  margin-top: 5vw;
  color: white;
}
.wrap .songInfo h2 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 3vw;
}
.wrap .songInfo div {
  font-size: 14px;
}
.wrap .progress {
  margin-top: 20vw;
  height: 8vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  text-align: center;
  line-height: 8vw;
  color: #fff;
}
.wrap .progress .curTime {
  padding: 0 3vw;
}
.wrap .progress .drag {
  width: 65vw;
  height: 10px;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  position: relative;
}
.wrap .progress .drag .circle {
  width: 2vw;
  height: 2vw;
  background-color: #fff;
  border: 2vw solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 50%;
  position: absolute;
  left: 17vw;
  z-index: 3;
}
.wrap .progress .drag .frontBg,
.wrap .progress .drag .backBg {
  width: 100%;
  height: 0.6vw;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.3vw;
}
.wrap .progress .drag .frontBg {
  width: 20vw;
  background-color: #fff;
  z-index: 2;
}
.wrap .progress .drag .backBg {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.wrap .progress .totalTime {
  padding: 0 3vw;
}
.wrap .control {
  width: 100vw;
  height: 16vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}
.wrap .control li {
  width: 20%;
}
.wrap .control li:nth-child(1) {
  background: url(../images/icon-like.png) no-repeat center / 30%;
}
.wrap .control li:nth-child(1).liking {
  background-image: url(../images/icon-like-solid.png);
}
.wrap .control li:nth-child(2) {
  background: url(../images/icon-prev.png) no-repeat center / 30%;
}
.wrap .control li:nth-child(3) {
  background: url(../images/icon-play.png) no-repeat center / 30%;
}
.wrap .control li:nth-child(3).playing {
  background-image: url(../images/icon-pause.png);
}
.wrap .control li:nth-child(4) {
  background: url(../images/icon-next.png) no-repeat center / 30%;
}
.wrap .control li:nth-child(5) {
  background: url(../images/icon-list.png) no-repeat center / 30%;
}
.wrap .control li:nth-child(5).list {
  background-image: url(../images/icon-playlist.png);
}
.wrap .list {
  width: 100vw;
  background-image: linear-gradient(#050505, rgba(170, 170, 170, 0.95));
  position: fixed;
  top: 100vh;
  z-index: 4;
}
.wrap .list dt,
.wrap .list dd,
.wrap .list .close {
  height: 12vw;
  font-size: 16px;
  color: #fff;
  line-height: 12vw;
}
.wrap .list dt,
.wrap .list .close {
  text-align: center;
}
.wrap .list dd,
.wrap .list dt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wrap .list dd {
  padding-left: 3vw;
}
.wrap .list dd.active {
  color: green;
}
